@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Roboto+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #EF8D68;
  --color-background: #f7f7f7;
  --color-dark: #3D241B;
  
  --font-family-sans: 'Roboto', system-ui, sans-serif;
  --font-family-mono: 'Roboto Mono', monospace;
}

* {
  border-color: rgb(61 36 27 / 0.1);
}

body {
  margin: 0;
  background-color: #f7f7f7;
  background-color: #EF8D68;
  color: #3D241B;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
